.filter-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-top: 30px;
  padding-right: 30px;
}

.filter-checkbox__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.filter-checkbox__label {
  width: 36px;
  height: 20px;
  background-color: var(--border-bottom-color);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 0 2px;
  box-sizing: border-box;
  transition: all 0.4s linear;
}

.filter-checkbox__input {
  visibility: hidden;
}

.filter-checkbox__circle {
  width: 16px;
  height: 16px;
  background-color: var(--secondary-text-color);
  border: 1px solid white;
  border-radius: 50%;
  transition: all 0.4s linear;
  align-self: center;
  justify-items: end;
  transition: all 0.4s linear;
}

.filter-checkbox__circle_checked {
  background-color: var(--accent-green-color);
  border: 1px solid var(--main-bg-color);
  transform: translateX(16px);
} 

@media screen and (max-width: 768px) {
  .filter-checkbox {
   margin-top: 41px
  }
}

@media screen and (max-width: 400px) {
  .filter-checkbox {
   margin-top: 46px
  }
}

@media screen and (max-width: 400px) {
  .filter-checkbox {
   gap: 18px;
  }

  .filter-checkbox__subtitle {
    font-size: 11px;
    line-height: 1.64;
  }
}
