.lazy-Loading-button {
  width: 100%;
  border: var(--lightGrey-bg-color);
  margin-bottom: 106px;
  height: 36px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  background-color: var(--lightGrey-bg-color);
  cursor: pointer;
  transition: background-color .3s linear;
}

.lazy-Loading-button:hover {
	background-color: var(--border-bottom-color);
}

.lazy-Loading-button__area {
	max-width: 1140px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .lazy-Loading-button {
    margin-bottom: 121px;
  }
}